body {
    padding: 50px;
    font: 14px;
    font-family: "Lato", sans-serif !important;
    background-color: #e4e6eb!important;
}

a {
    color: #00b7ff;
}

.center-div {
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 400px;
    left: 0;
    right: 0;
    margin: auto;
}

.error-format {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-user {
    background: azure;
    border: 2px solid lightblue;
    border-radius: 5px;
}

.login-another-options {
    text-align: center;
}

.login-title {
    text-align: center;
    width: 100%;
}

.register-title {
    text-align: center;
    width: 100%;
}

.forgot-password {
    text-align: right;
    font-size: 12px;
}

.btn-bottom {
    width: 100%;
}

a {
    text-decoration: none !important;
}

footer {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    width: 100%;
}
