body {
    font-size: 14px;
    font-family: "Lato", sans-serif !important;
    background-color: #e4e6eb !important;
    padding-top: 56px;
}

.clear {
    clear: both;
    height: 50px;
}

a {
    color: #00b7ff;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #343a40;
}

input:focus + .slider {
    box-shadow: 0 0 1px #343a40;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.input-group-append {
    /* margin-top: -20px; */
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.center-div {
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 400px;
    left: 0;
    right: 0;
    margin: auto;
}

.error-format {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-user {
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.tagsInput {
    font-size: 12px;
    border: 1px solid #ced4da;
}

.login-another-options {
    text-align: center;
}

.login-title {
    text-align: center;
    width: 100%;
}

.register-title {
    text-align: center;
    width: 100%;
}

.forgot-password {
    text-align: right;
    font-size: 12px;
}

.btn-bottom {
    width: 100%;
}

a {
    text-decoration: none !important;
}
[role="main"] {
    min-height: calc(100vh - 109px);
}
footer {
    /*position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    width: 100%;*/
}

.resource-general-color {
    color: #495057;
}

.resource-comments {
    font-size: 13px;
    border-top: 1px solid;
    width: 100%;
    text-align: right;
    margin-top: 2px;
}

.resource-comments a {
    color: #343a40;
}

.scroll-comments {
    max-height: 400px;
    overflow-y: scroll;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.resource-post {
    background-color: #ffffff;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.1), 0px 2px 4px rgba(60, 60, 60, 0.1);
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
}

.dropdown-toggle::after {
    display: none;
}
.customDropLeft::before {
    display: none !important;
}

.resource-comment {
    background-color: #343a40;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.1), 0px 2px 4px rgba(60, 60, 60, 0.1);
    border-radius: 20px;
    padding: 10px;
}

.resource-comment-reply {
    margin-left: 35px;
}

.reply-comment {
    margin-left: 35px;
}

.reply-date {
    margin-left: 35px;
}

.resource-title {
    margin: 0;
}

.resource-description {
    margin: 20px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resource-type-year {
    color: #495057;
    font-size: 13px;
}

.resource-rating {
    color: #495057;
    float: right;
}

.resource-tags {
    float: right;
    font-size: 10px;
}

.resource-tags a {
    color: #495057;
}

.resource-link {
    color: #495057;
}

.resource-user-info {
    color: #495057;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.resource-user-info img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.resource-comment-info {
    font-size: 12px;
}

.resource-user-info span {
    font-size: 13px;
    margin-left: 10px;
}
.resource-comment-info .resource-general-color {
    color: white;
}
.resource-comment-author {
    /* color: #495057; */
    color: white;
    font-weight: bold;
}
.resource-comment-date {
    text-align: right;
    color: #343a40;
    font-size: 11px;
}

.loading {
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in;
}

.loading.show {
    opacity: 1;
}

.ball {
    background-color: #777;
    border-radius: 50%;
    margin: 5px;
    height: 10px;
    width: 10px;
    animation: jump 0.5s ease-in infinite;
}

.ball:nth-of-type(2) {
    animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes jump {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.without-resources-box {
    text-align: center;
    background: #ffffff;
}

.without-resources {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

/* Rating */

.rating {
    float: left;
}

.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 0.1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 170%;
    line-height: 1.2;
    color: #ddd;
}

.rating:not(:checked) > label:before {
    font-family: FontAwesome;
    content: "\f005";
}

.rating > input:checked ~ label {
    color: gold;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.rating > label:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

button#status {
    margin: 20px 0;
}

.dropdown-menu-comments {
    float: right;
}

.dropdown-menu-comments.dropdown-toggle::after {
    display: block;
    font-family: FontAwesome;
    content: "\f141";
    border-top: 0px;
    color: #ffffff;
}

.dropdown-comments-options {
    text-align: right;
    background: #a9a9a9;
    color: #fff;
    padding-right: 8px;
    font-weight: bold;
    font-size: 15px;
    margin-top: -5px;
    cursor: pointer;
}
.rightmenu {
    position: fixed;
    left: 0;
    width: 100%;
    background: white;
    top: 56px;
    box-shadow: 0px 8px 8px -11px black;
    z-index: 1;
    transition: 0.2s all linear;
}
.customheaderside {
    display: none;
}
.maincontainer {
    transition: 0.2s all;
    padding-top: 87px;
}
.hedersidenav {
    display: none;
}
.hedersidenav h3 {
    font-size: 18px;
    border-bottom: 1px solid gray;
}
@media only screen and (max-width: 1200px) {
    .customheaderside {
        display: block;
    }
    .rightmenu {
        position: fixed;
        right: -250px;
        left: unset;
        width: 250px;
        background: white;
        top: 56px;
        box-shadow: 0px 8px 8px -11px black;
        z-index: 1;
        bottom: 0;
    }
    .rightmenu.show {
        right: 0;
    }
    .maincontainer {
        padding-top: 14px;
    }
    .maincontainer.hide {
        opacity: 0.5;
    }
    .hedersidenav {
        display: block;
    }
}

.reset-filters {
    float: right;
    cursor: pointer;
    font-size: 12px;
}
.profileAvatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 50%;
}
