extends layout

block content
  .container-fluid.my-5.text-center
    h1
      b CLAV: Página Princpial

    h5.pt-4.mb-5.text-center Bem-vindo ao exercício nº2 do teste de DAW, ano letivo 2020/2021. Esta é a página principal, com dois links para páginas distintas (<b>Classes</b> e <b>Termos de Índice</b>).


    a.btn.btn-info.mr-5.mb-5(href="/classes") Classes

    a.btn.btn-info.mb-5(href="/termosIndice") Termos de índice

    div
      | [ 
      a(href="/") Voltar à página inicial
      |  ]
    