{% extends 'base.html' %}

{% load static %}

{% block title %} New Restaurant {% endblock %}

{% block content %}
<div class="container-login100 mt-5">
  <div class="wrap-login100 wea pt-5 pb-5">

    <form class="login100-form validate-form flex-sb flex-w" enctype="multipart/form-data" id="login-form"
          method="post">

      <span class="login100-form-title pb-5">New Restaurant</span>

      {% if form.errors or state is not None and not state %}
      <div class="body col-12 mb-4">
        <ul class="errornote">
          <li>Please, correct the errors bellow.</li>
          <li>{{ message }}</li>
        </ul>
      </div>
      {% endif %}

      <div class="follow-img">
        <img alt="#"
             class="img-fluid"
             id="photo" src="https://media.timeout.com/images/102496743/image.jpg" style="border-radius: 0%">
      </div>
      <div class="mt-3 mb-5 text-center">
        <btn class="btn btn-primary btn-lg" id="edit_img">Add photo</btn>
        <div style="visibility: hidden;">{{ form.photo }}</div>
      </div>

      {{ form.name.label_tag }}
      <div class="wrap-input100 mb-5">
        {{ form.name }}
        <span class="focus-input100"></span>
        {{ form.name.errors }}
      </div>

      {{ form.address.label_tag }}
      <div class="wrap-input100 mb-5">
        {{ form.address }}
        <span class="focus-input100"></span>
        {{ form.address.errors }}
      </div>

      {{ form.city.label_tag }}
      <div class="wrap-input100 mb-5">
        {{ form.city }}
        <span class="focus-input100"></span>
        {{ form.city.errors }}
      </div>

      {{ form.zip_code.label_tag }}
      <div class="wrap-input100 mb-5">
        {{ form.zip_code }}
        <span class="focus-input100"></span>
        {{ form.zip_code.errors }}
      </div>


      {{ form.country.label_tag }}
      <div class="wrap-input100 mb-5">
        {{ form.country }}
        <span class="focus-input100"></span>
        {{ form.country.errors }}
      </div>

      {{ form.phone_number.label_tag }}
      <div class="wrap-input100 mb-5">
        {{ form.phone_number }}
        <span class="focus-input100"></span>
        {{ form.phone_number.errors }}
      </div>


      {{ form.latitude.label_tag }}
      <div class="wrap-input100 mb-4">
        {{ form.latitude }}
        <span class="focus-input100"></span>
        {{ form.latitude.errors }}
      </div>

      {{ form.longitude.label_tag }}
      <div class="wrap-input100 mb-4">
        {{ form.longitude }}
        <span class="focus-input100"></span>
        {{ form.longitude.errors }}
      </div>

      <div class="container-login100-form-btn mt-5">
        <button class="login100-form-btn" type="submit">Register Restaurant</button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}

{% block script %}
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#photo').attr('src', e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#id_photo").change(function () {
    readURL(this);
  });

  $('#edit_img').click(function () {
    $("#id_photo").trigger("click");
  });
</script>
{% endblock script %}
