{% extends 'base.html' %}

{% load static %}

{% block title %} New Owner {% endblock %}

{% block content %}
<div class="container-login100 mt-5">
  <div class="wrap-login100 wea pt-5 pb-5">

    <form class="login100-form validate-form flex-sb flex-w" enctype="multipart/form-data" id="login-form"
          method="post">

      <span class="login100-form-title pb-5">New Owner</span>

      {% if form.errors or state is not None and not state %}
      <div class="body col-12 mb-4">
        <ul class="errornote">
          <li>Please, correct the errors bellow.</li>
          <li>{{ message }}</li>
        </ul>
      </div>
      {% endif %}

      <div class="follow-img" style="text-align: left; max-width: 15em">
        <img alt="#"
             class="img-fluid"
             id="photo"
             src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/user.png">
      </div>
      <div class="mt-3 mb-5 ml-3 pl-5">
        <btn class="btn btn-primary btn-lg" id="edit_img">Adicionar foto</btn>
        <div style="visibility: hidden;">{{ form.photo }}</div>
      </div>

      {{ form.email.label_tag }}
      <div class="wrap-input100 mb-5">
        {{ form.email }}
        <span class="focus-input100"></span>
        {{ form.email.errors }}
      </div>

      {{ form.password.label_tag }}
      <div class="wrap-input100 mb-5">
        {{ form.password }}
        <span class="focus-input100"></span>
        {{ form.password.errors }}
      </div>

      {{ form.repeat_password.label_tag }}
      <div class="wrap-input100 mb-5">
        {{ form.repeat_password }}
        <span class="focus-input100"></span>
        {{ form.repeat_password.errors }}
      </div>

      {{ form.first_name.label_tag }}
      <div class="wrap-input100 mb-5">
        {{ form.first_name }}
        <span class="focus-input100"></span>
        {{ form.first_name.errors }}
      </div>


      {{ form.last_name.label_tag }}
      <div class="wrap-input100 mb-5">
        {{ form.last_name }}
        <span class="focus-input100"></span>
        {{ form.last_name.errors }}
      </div>


      {{ form.phone_number.label_tag }}
      <div class="wrap-input100 mb-4">
        {{ form.phone_number }}
        <span class="focus-input100"></span>
        {{ form.phone_number.errors }}
      </div>

      <div class="container-login100-form-btn mt-5">
        <button class="login100-form-btn" type="submit">Register</button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}

{% block script %}
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#photo').attr('src', e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#id_photo").change(function () {
    readURL(this);
  });

  $('#edit_img').click(function () {
    $("#id_photo").trigger("click");
  });
</script>
{% endblock script %}
