<div class="container-login100 mt-5">
  <div class="wrap-login100 wea pt-5 pb-5">

    <form (ngSubmit)="registerRestaurant()" class="login100-form validate-form flex-sb flex-w"
          enctype="multipart/form-data"
          id="login-form">

      <span class="login100-form-title pb-5">New Restaurant</span>

      <div class="follow-img">
        <img alt="#" class="img-fluid" id="photo" src="data:image/png;base64,{{imageSrc}}" style="border-radius: 0">
      </div>
      <div class="mt-3 mb-5 text-center">
        <button (click)="triggerInput()" class="btn btn-primary btn-lg" type="button">Adicionar foto</button>
        <div style="visibility: hidden;">
          <input (change)="handleInputChange($event)" accept="image/*" id="photo_input" name="photo" type="file">
        </div>
      </div>

      <label for="id_name">Name:</label>
      <div class="wrap-input100">
        <input #name="ngModel" [(ngModel)]="rest.name" class="input100" id="id_name" name="name"
               placeholder="Insert Name"
               required type="text">
        <span class="focus-input100"></span>
      </div>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        Name is required.
      </div>

      <label class="mt-5" for="id_address">Address:</label>
      <div class="wrap-input100">
        <input #address="ngModel" [(ngModel)]="rest.address" class="input100" id="id_address" name="address"
               placeholder="Insert Address"
               required type="text">
        <span class="focus-input100"></span>
      </div>
      <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
        Address is required.
      </div>

      <label class="mt-5" for="id_city">City:</label>
      <div class="wrap-input100">
        <input #city="ngModel" [(ngModel)]="rest.city" class="input100" id="id_city" name="city"
               placeholder="Insert City"
               required type="text">
        <span class="focus-input100"></span>
      </div>
      <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
        City is required.
      </div>

      <label class="mt-5" for="id_zip_code">Zip Code:</label>
      <div class="wrap-input100">
        <input #zip_code="ngModel" [(ngModel)]="rest.zip_code" class="input100" id="id_zip_code" name="zip_code"
               placeholder="Insert Zip Code"
               required type="text">
        <span class="focus-input100"></span>
      </div>
      <div *ngIf="zip_code.invalid && (zip_code.dirty || zip_code.touched)" class="alert alert-danger">
        Zip Code is required.
      </div>

      <label class="mt-5" for="id_country">Country:</label>
      <div class="wrap-input100">
        <select #country="ngModel" [(ngModel)]="rest.country" class="form-control" id="id_country"
                name="country">
          <option *ngFor="let country of countries" [value]="country">{{country}}</option>
        </select>
        <span class="focus-input100"></span>
      </div>
      <div *ngIf="country.invalid && (country.dirty || country.touched)" class="alert alert-danger">
        Country is required.
      </div>

      <label class="mt-5" for="id_phone_number">Phone Number:</label>
      <div class="wrap-input100">
        <input #pn="ngModel" [(ngModel)]="rest.phone_number" class="input100" id="id_phone_number" name="phone_number"
               placeholder="Insert Phone Number"
               required type="text">
        <span class="focus-input100"></span>
      </div>
      <div *ngIf="pn.invalid && (pn.dirty || pn.touched)" class="alert alert-danger">
        Phone Number is required.
      </div>

      <label class="mt-5" for="id_latitude">Latitude:</label>
      <div class="wrap-input100">
        <input #latitude="ngModel" [(ngModel)]="rest.latitude" class="input100" id="id_latitude" name="latitude"
               placeholder="Insert Latitude"
               required step="any" type="number">
        <span class="focus-input100"></span>
      </div>
      <div *ngIf="latitude.invalid && (latitude.dirty || latitude.touched)" class="alert alert-danger">
        Latitude is required.
      </div>

      <label class="mt-5" for="id_longitude">Latitude:</label>
      <div class="wrap-input100">
        <input #longitude="ngModel" [(ngModel)]="rest.longitude" class="input100" id="id_longitude" name="longitude"
               placeholder="Insert Longitude"
               required step="any" type="number">
        <span class="focus-input100"></span>
      </div>
      <div *ngIf="longitude.invalid && (longitude.dirty || longitude.touched)" class="alert alert-danger">
        Longitude is required.
      </div>

      <div class="container-login100-form-btn mt-5">
        <button
          [disabled]="(name.invalid || address.invalid || city.invalid || zip_code.invalid || country.invalid || pn.invalid || latitude.invalid || longitude.invalid)"
          class="login100-form-btn" type="submit">Register Restaurant
        </button>
      </div>
    </form>
  </div>
</div>
