extends ../layout

block content
  center
    .jumbotron
      h1.display-4 Error
      p.lead
        | Password recovery time has expired. Try Again!
      hr.my-4
      p
        | ...
      a.btn.btn-info.btn-lg(href='/auth/recoverPassword' role='button') Back to Recover Page


