extends ../layout

block content
  .container.center-div
    .row.form-user
      .col-sm
        h2.login-title Choose a new password
        form.px-4.py-3.needs-validation#form-recover-confirm-password(method='POST', enctype='multipart/form-data', novalidate='')
          input(type='hidden' name='email' value=email)
          .form-group.password
              label(for='password') Password
              input#password.form-control(type='password' placeholder='*******' name='password' required='', pattern='^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])([ \\W\\w\\d]+)$', minlength=8)
          .form-group.confirm_password
            label(for='confirm_password') Confirm Password
            input#confirm_password.form-control(type='password' placeholder='*******' name='confirm_password' required='', pattern='^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])([ \\W\\w\\d]+)$', minlength=8)
          button.btn.bg-dark.btn-bottom#recover-password-update-confirm(style="color: white;") Confirm
        .dropdown-divider
  
  // Modal success    
  .col-12
    #successModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='successModalLabel' aria-hidden='true')
      .modal-dialog.modal-dialog-centered.modal-sm(role='document')
        .modal-content
          .modal-body.pb-o.text-center
            h2
              i.fas.fa-check(style="color:#28a745")
            h4.text-center(id="successModalMessage")
          .modal-footer(style="border:0")
            button.col-12.btn.bg-dark.ok-btn(style="color: white;background:#343a40;border:0;box-shadow: none!important") Ok