extends ../layout

block content
  .container.center-div
    .row.form-user
      .col-sm
        h2 Recover Password
        form.px-4.py-3.needs-validation#form-recover-password(method='POST', enctype='multipart/form-data', novalidate='')
          .form-group.email
              label(for='email' style="width:100%") Email
                input#email.form-control(type='email' placeholder='pg12345@alunos.uminho.pt' name='email' required='')
          button.btn.btn-primary.btn-bottom#recover-password-confirm Send an email

  // Modal success    
  .col-12
    #successModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='successModalLabel' aria-hidden='true')
      .modal-dialog.modal-dialog-centered.modal-sm(role='document')
        .modal-content
          .modal-body.pb-o.text-center
            h2
              i.fas.fa-check(style="color:#28a745")
            h4.text-center(id="successModalMessage")
          .modal-footer(style="border:0")
            button.col-12.btn.btn-primary(style="background:#343a40;border:0;box-shadow: none!important" onclick='location.reload()') Ok