extends ../layout

block content
  center(style="padding-top:30px;")
    h1.display-4 Error
    p.lead
      | Password recovery time has expired. Try Again!
    a.btn.bg-dark.btn-lg(href='/auth/recoverPassword' role='button' style="color: white;") Back to Recover Page


