<div class="container-login100 mt-5">
  <!--//END BOOKING -->
  <!--============================= RESERVE A SEAT =============================-->
  <section class="reserve-block">
    <div [ngStyle]="{'background-image': 'url(data:image/png;base64,' + rest.photo +')'}" class="jumbotron"
         style="height: 350px; background-position: center center; background-repeat: no-repeat;background-size: cover;">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <h5>{{ rest.name }}&nbsp;&nbsp;</h5>
            <div *ngIf="rest.is_favorite != null">
              <a (click)="rest.is_favorite ? removeFromFavorites(rest, $event) : addToFavorites(rest, $event)"
                 [ngStyle]="{'color': rest.is_favorite ?  'red' : ''}" class="ti-heart"
                 href="javascript:void(0)"
                 id="rest{{rest.id}}"></a>
            </div>
          </div>
          <p class="reserve-description" style="color: white">
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div>
        <div class="col-md-6">
          <div class="reserve-seat-block">
            <div class="reserve-rating">
              <span>{{ rest.avg_score }}</span>
            </div>
            <div *ngIf="!noToken() && getUserType() == 'client'" class="review-btn">
              <button class="btn btn-outline-danger" data-target="#reviewModal"
                      data-toggle="modal">WRITE A REVIEW
              </button>
              <span>{{ rest.n_of_reviews }} reviews</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//END RESERVE A SEAT -->
  <!--============================= BOOKING DETAILS =============================-->
  <section class="light-bg booking-details_wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-8 responsive-wrap">
          <div class="booking-checkbox_wrap">
            <div class="booking-checkbox">
              <p>{{ rest.description }}</p>
            </div>
          </div>
          <div class="booking-checkbox_wrap mt-4">
            <h5>{{ rest.n_of_reviews }} Reviews</h5>
            <div *ngFor="let review of rest.reviews">
              <hr>
              <div class="customer-review_wrap">
                <div class="customer-img">
                  <img alt="#"
                       class="img-fluid" src="data:image/png;base64,{{review.client.photo }}" style="max-width: 5em">
                  <p>{{ review.client.first_name }} {{ review.client.last_name[0] }}.</p>
                  <span>{{ review.client.number_of_reviews }} Reviews</span>
                </div>
                <div class="customer-content-wrap">
                  <div class="customer-content mb-5">
                    <div class="customer-review">
                      <h6>{{ review.title }}</h6>
                    </div>
                    <div class="customer-rating">{{ review.stars }}</div>
                  </div>
                  <p class="customer-text">{{ review.comment }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 responsive-wrap">
          <div class="contact-info container">
            <img
              src="https://maps.googleapis.com/maps/api/staticmap?center={{rest.latitude}},{{rest.longitude}}&zoom=12&size=400x400&key=AIzaSyDreVs7ABmOr4iv5-gByXJK6VpY11UQNrw"/>
            <div class="address">
              <span class="icon-location-pin"></span>
              <p> {{ rest.address }}<br> {{ rest.city }}<br> {{ rest.country }}</p>
            </div>
            <div class="address">
              <span class="icon-screen-smartphone"></span>
              <p>{{ rest.phone_number }}</p>
            </div>
          </div>
          <a class="follow" routerLink="/owner/{{rest.owner.email}}">
            <div class="follow-img">
              <img alt="#" class="img-fluid" src="data:image/png;base64,{{rest.owner.photo}}"
                   style="max-width: 10em">
              <h6>{{ rest.owner.first_name }} {{ rest.owner.last_name }}</h6>
            </div>
            <ul class="social-counts">
              <li style="border-right: 0">
                <h6>{{ rest.owner.n_of_rests }}</h6>
                <span>Restaurants</span>
              </li>
            </ul>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
<!--//END BOOKING DETAILS -->

<div aria-hidden="true" aria-labelledby="deleteModalLabel" class="modal fade" id="reviewModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Write your Review: </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" id="close_btn" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form (ngSubmit)="submitReview()">
        <div class="modal-body">

          <label for="id_title">Title:</label>
          <div class="wrap-input100">
            <input #title="ngModel" [(ngModel)]="review.title" class="input100" id="id_title" name="title"
                   placeholder="Insert Title" required type="text">
            <span class="focus-input100"></span>
          </div>
          <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
            Title is required.
          </div>

          <label class="mt-5" for="id_comment">Comment:</label>
          <div class="wrap-input100">
            <input #comment="ngModel" [(ngModel)]="review.comment" class="input100" id="id_comment" name="comment"
                   placeholder="Insert Comment" required type="text">
            <span class="focus-input100"></span>
          </div>
          <div *ngIf="comment.invalid && (comment.dirty || comment.touched)" class="alert alert-danger">
            Comment is required.
          </div>

          <label class="mt-5" for="id_score">Score:</label>
          <div class="wrap-input100">
            <input #score="ngModel" [(ngModel)]="review.stars" class="input100" id="id_score" name="score"
                   placeholder="Insert Score" required step="any" type="number" [range]="[0, 10]">
            <span class="focus-input100"></span>
          </div>
          <div *ngIf="score.invalid && (score.dirty || score.touched) && !score.errors?.range"
               class="alert alert-danger">
            Score is required.
          </div>
          <div *ngIf="(score.dirty || score.touched) && score.errors?.range" class="alert alert-danger">
            Score must be between 0.0 and 10.0.
          </div>

          <label class="mt-5" for="id_price">Price:</label>
          <div class="wrap-input100">
            <select #price="ngModel" [(ngModel)]="review.price" class="form-control" id="id_price" name="price"
                    required>
              <option value="1">Cheap</option>
              <option value="2">Affordable</option>
              <option value="3">Pricey</option>
            </select>
            <span class="focus-input100"></span>
          </div>
          <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
            Price is required.
          </div>


          <label class="mt-5" for="id_quality">Quality:</label>
          <div class="wrap-input100">
            <select #quality="ngModel" [(ngModel)]="review.quality" class="form-control" id="id_quality" name="quality"
                    required>
              <option value="1">Mediocre</option>
              <option value="2">Average</option>
              <option value="3">Good</option>
            </select>
            <span class="focus-input100"></span>
          </div>
          <div *ngIf="quality.invalid && (quality.dirty || quality.touched)" class="alert alert-danger">
            Quality is required.
          </div>

          <label class="mt-5" for="id_cleanliness">Cleanliness:</label>
          <div class="wrap-input100">
            <select #clean="ngModel" [(ngModel)]="review.cleanliness" class="form-control" id="id_cleanliness"
                    name="cleanliness"
                    required>
              <option selected value="1">Dirty</option>
              <option value="2">Average</option>
              <option value="3">Clean</option>
            </select>
            <span class="focus-input100"></span>
          </div>
          <div *ngIf="clean.invalid && (clean.dirty || clean.touched)" class="alert alert-danger">
            Cleanliness is required.
          </div>

          <label class="mt-5" for="id_speed">Speed:</label>
          <div class="wrap-input100">
            <select #speed="ngModel" [(ngModel)]="review.speed" class="form-control" id="id_speed" name="speed"
                    required>
              <option selected value="1">Quick</option>
              <option value="2">Average</option>
              <option value="3">Slow</option>
            </select>
            <span class="focus-input100"></span>
          </div>
          <div *ngIf="speed.invalid && (speed.dirty || speed.touched)" class="alert alert-danger">
            Speed is required.
          </div>

          <div class="wrap-input100 mt-5">
            <span class="focus-input100"></span>
          </div>
        </div>
        <div class="modal-footer mt-5">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
          <button
            [disabled]="(title.invalid || comment.invalid || score.invalid || price.invalid || quality.invalid || clean.invalid || speed.invalid)"
            class="btn btn-primary"
            id="revSubmit" name="review" type="submit">Submit Review
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
