<div class="container-login100 mt-5">
  <div class="wrap-login100 wea pt-5 pb-5">

    <form (ngSubmit)="addClient()" class="login100-form validate-form flex-sb flex-w" enctype="multipart/form-data"
          id="login-form">

      <span class="login100-form-title pb-5">New Client</span>

      <div class="follow-img" style="text-align: left; max-width: 15em">
        <img alt="#" class="img-fluid" id="photo" src="data:image/png;base64,{{imageSrc}}">
      </div>
      <div class="mt-3 mb-5 ml-3 pl-5">
        <button (click)="triggerInput()" class="btn btn-primary btn-lg" type="button">Adicionar foto</button>
        <div style="visibility: hidden;">
          <input (change)="handleInputChange($event)" accept="image/*" id="photo_input" name="photo" type="file">
        </div>
      </div>

      <label for="id_email">Email:</label>
      <div class="wrap-input100">
        <input #email="ngModel" [(ngModel)]="client.email" class="input100" id="id_email" name="email"
               placeholder="Insert Email" required type="email" email>
        <span class="focus-input100"></span>
      </div>
      <div *ngIf="email.invalid && (email.dirty || email.touched) && !email.errors?.email" class="alert alert-danger">
        Email is required.
      </div>
      <div *ngIf="email.errors?.email && (email.dirty || email.touched)" class="alert alert-danger">
        Email is invaid.
      </div>

      <label class="mt-5" for="id_password">Password:</label>
      <div class="wrap-input100">
        <input #password="ngModel" (change)="checkPasswords()" [(ngModel)]="client.password" class="input100"
               id="id_password" name="password"
               placeholder="Password" required type="password">
        <span class="focus-input100"></span>
      </div>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        Password is required.
      </div>
      <div *ngIf="pwsMissmatch"
           class="alert alert-danger">
        Your passwords must be equal.
      </div>

      <label class="mt-5" for="id_repeat_password">Repeat Password:</label>
      <div class="wrap-input100">
        <input #repeatPassword="ngModel" (change)="checkPasswords()" [(ngModel)]="client.repeat_password"
               class="input100" id="id_repeat_password"
               name="repeat_password" placeholder="Repeat Password" required
               type="password">
        <span class="focus-input100"></span>
      </div>
      <div *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)"
           class="alert alert-danger">
        You must enter your password twice.
      </div>
      <div *ngIf="pwsMissmatch"
           class="alert alert-danger">
        Your passwords must be equal.
      </div>

      <label class="mt-5" for="id_first_name">First Name:</label>
      <div class="wrap-input100">
        <input #firstName="ngModel" [(ngModel)]="client.first_name" class="input100" id="id_first_name"
               name="first_name"
               placeholder="Insert First Name" required type="text">
        <span class="focus-input100"></span>
      </div>
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        First Name is required.
      </div>


      <label class="mt-5" for="id_last_name">Last Name:</label>
      <div class="wrap-input100">
        <input #lastName="ngModel" [(ngModel)]="client.last_name" class="input100" id="id_last_name" name="last_name"
               placeholder="Insert Last Name" required type="text">
        <span class="focus-input100"></span>
      </div>
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
        Last Name is required.
      </div>


      <label class="mt-5" for="id_phone_number">Phone Number:</label>
      <div class="wrap-input100">
        <input #phoneNumber="ngModel" [(ngModel)]="client.phone_number" class="input100" id="id_phone_number"
               name="phone_number"
               placeholder="Insert Phone Number" required type="text">
        <span class="focus-input100"></span>
      </div>
      <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
        Phone Number is required.
      </div>

      <div class="container-login100-form-btn" style="margin-top: 9%">
        <button
          [disabled]="(email.invalid || password.invalid || repeatPassword.invalid || firstName.invalid || lastName.invalid || phoneNumber.invalid || pwsMissmatch)"
          class="login100-form-btn" type="submit">Register
        </button>
      </div>
    </form>
  </div>
</div>
