extends layout

block content
  .container(style="height: 100px; position: absolute; top: 0; bottom: 400px; left: 0; right: 0; margin: auto;")
    h2(style="text-align: center;") Password Reset
    p(style="text-align: center;") If you wish to recover your password, use the link below.
    p(style="text-align: center;")
      a(href=data.link) Reset Your Password

  