extends layout

block content
  center
    .jumbotron
      h1.display-4 401
      p.lead
        | Acces is allowed only for registered users
      hr.my-4
      p
        | ...
      a.btn.btn-info.btn-lg(href='/auth/login' role='button') Back to Login


