extends layout

block content
  center
    .jumbotron
      h1.display-4 403
      p.lead
        | You don't have the right access leel for this operation
      hr.my-4
      p
        | ...
      a.btn.btn-info.btn-lg(href='javascript:history.back()' role='button') Go Back


