extends layout

block content
  center
    .jumbotron
      h1.display-4 404
      p.lead
        | Page not found
      hr.my-4
      p
        | ...
      a.btn.btn-info.btn-lg(href='javascript:history.back()' role='button' style="background:#343a40;border:0;box-shadow: none!important") Go Back


