extends layout

block content
  .container.center-div
    .row.form-user
      h2.login-title Login
      h5.register-title
        | Are you new? 
        a(href='register') Register
      .col-sm
        form.px-4.py-3.needs-validation(action="/auth/login", method='POST', novalidate='')
          .form-group
            label(for='username') Username
            input#username.form-control(type='text' placeholder='pg12345' name='username' required='')
          .form-group
            label(for='password') Password
            input#password.form-control(type='password' placeholder='*******' name='password' required='')
          if (typeof(errors_login) !== 'undefined' && errors_login.length > 0)
            p.error-format #{errors_login}
          p.forgot-password 
            a(href='#') Forgot password?
          .dropdown-divider
          button.btn.btn-primary.btn-bottom(type='submit') Sign in
      .col-sm
        h2 Btns de facebook, gmail


