extends layout

block content
  .container.center-div
    .row.form-user
      .col-sm
        h2 Recover Password
        form.px-4.py-3.needs-validation#form-recover-password(method='POST', enctype='multipart/form-data', novalidate='')
          .form-group.email
              label(for='email' style="width:100%") Email
                input#email.form-control(type='email' placeholder='pg12345@alunos.uminho.pt' name='email' required='')
          button.btn.btn-primary.btn-bottom#recover-password-confirm Register
        .dropdown-divider

