extends layout

block content
  .container.center-div
    .search-wrapper
        .search-input
            a(href="" target="_blank" hdden)
            input(type="text", value="Type to search a user...")
            .autocomplete-dialog
            .search-icon
                i.fas.fa-search